[Desktop Entry]
Name=PDF Signer Linux
Comment=PDF signing and visible stamp tool for Linux with CryptoPro CSP
Exec=pdfsigner
Icon=pdfsigner
Terminal=false
Type=Application
Categories=Utility;Security;
